﻿@model IEnumerable<MatematikWebProje.Models.KonuVideo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Konulars.KonuAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Link)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Konulars.KonuAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Link)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.KonuVideoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.KonuVideoID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.KonuVideoID })
        </td>
    </tr>
}

</table>
