﻿<!DOCTYPE html>
<html>
<head runat="server">
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Half Slider - Start Bootstrap Template</title>
    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/css/half-slider.css" rel="stylesheet"/>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">

        Navigation
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="/Home/AnaSayfa">Matematikciyiz</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/Home/AnaSayfa">
                                Ana Sayfa<span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/KonuAnlatimlari">Konu Anlatımları</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/SoruCozumleri">Soru Çözümleri</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Hakkimizda">Hakkımızda</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Iletisim">İletişim</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/KayitOl">Kayıt Ol</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/GirisYap">Giriş Yap</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        </asp:ContentPlaceHolder>
        @RenderBody()
        <!-- Footer -->
        <footer class="py-5 bg-dark">
            <div class="container">
                <a href="http://www.facebook.com"><img src="~/Resimler/facebook-icon.png" /></a>Facebook &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="http://www.facebook.com"><img src="~/Resimler/facebook-icon.png" /></a>Twitter &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="http://www.facebook.com"><img src="~/Resimler/facebook-icon.png" /></a>İnstagram
                <a href="http://www.facebook.com"><img src="~/Resimler/facebook-icon.png" /></a>Youtube
                <a href="http://www.facebook.com"><img src="~/Resimler/facebook-icon.png" /></a>Google
                <a href="http://www.facebook.com"><img src="~/Resimler/facebook-icon.png" /></a>WhatsApp
                <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
            </div>

            <!-- /.container -->
        </footer>
        <!-- Bootstrap core JavaScript -->
        @*<script src="~/vendor/jquery/jquery.min.js"></script>
        <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>*@
    </form>
</body>
</html>